body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    width: 30%;
    margin: 0 auto;
    border-radius: 15px;
    background-color:rgb(14, 13, 13);
}

a:link{
    text-decoration: none;
}

.nav-item{
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.profile-img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0px 14px 12px rgba(0, 0, 0, 0.19) ;
    border: 1px solid black;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section a:hover{
    transform: scale(1.04);
}
.project-list img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card:hover{
    transform:scale(1.04);
}

.list {
  list-style-type: none;  
  padding-left: 0;        
  margin: 0;              
}

.card{
    width: 18rem;
}

footer{
    font-size: 1rem;
}
